@import url('css-reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --color-main-background: hsl(233, 47%, 7%);
    --color-card-background: hsl(244, 38%, 16%);
    --color-soft-voilet: hsl(277, 64%, 61%);
    --color-white-main: hsl(0, 0%, 100%);
    --color-white-paragraph: hsla(0, 0%, 100%, 0.75);
    --color-white-stats: hsla(0, 0%, 100%, 0.6);
    --font-weight-four: 400;
    --font-weight-seven: 700;
}

body {
    background-color: var(--color-main-background);
    font-weight: var(--font-weight-four);
    color: var(--color-white-main);
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: var(--color-card-background);
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-header {
    font-family: 'Lexend Deca',
        sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.insight {
    color: var(--color-soft-voilet)
}

.h1-first,
.h1-second {
    display: block;
}

.stats,
.heading {
    display: block;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}