/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('css-reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --color-main-background: hsl(233, 47%, 7%);
    --color-card-background: hsl(244, 38%, 16%);
    --color-soft-voilet: hsl(277, 64%, 61%);
    --color-white-main: hsl(0, 0%, 100%);
    --color-white-paragraph: hsla(0, 0%, 100%, 0.75);
    --color-white-stats: hsla(0, 0%, 100%, 0.6);
    --font-weight-four: 400;
    --font-weight-seven: 700;
}

body {
    background-color: var(--color-main-background);
    font-weight: var(--font-weight-four);
    color: var(--color-white-main);
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* height: 100vh; */
}

.container {
    background-color: var(--color-card-background);
    width: 375px;
    height: 90%;
    margin-top: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin: 30px auto 30px auto;
}

h1 {
    font-family: 'Lexend Deca',
        sans-serif;
    font-weight: var(--font-weight-seven);
    font-size: 1.5rem;
    color: var(--color-white-main);
    margin-top: 20px;
    padding: 2rem 1rem;
    letter-spacing: 1.75px;
}

.insight {
    color: var(--color-soft-voilet)
}

.main-paragraph {
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: 'Inter',
        sans-serif;
    font-weight: var(--font-weight-four);
    font-size: 0.875rem;
    color: var(--color-white-paragraph);
    line-height: 1.75;
    padding: 0 4rem;
}

.img-component {
    height: 300px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(277, 64%, 61%, 0.5)), to(hsl(277, 64%, 61%, 0.5))),
        url('/images/image-header-mobile.jpg');
    background: -o-linear-gradient(hsl(277, 64%, 61%, 0.5), hsl(277, 64%, 61%, 0.5)),
        url('/images/image-header-mobile.jpg');
    background: linear-gradient(hsl(277, 64%, 61%, 0.5), hsl(277, 64%, 61%, 0.5)),
        url('/images/image-header-mobile.jpg');
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.overall-stat {
    padding: 1.5rem;
}

.overall-stat span {
    color: var(--color-white-main);
    font-family: 'Inter',
        sans-serif;
    font-weight: var(--font-weight-seven);
    font-size: 1.25rem;
    /* margin-bottom: -5px; */
}

.overall-stat p {
    font-family: 'Inter',
        sans-serif;
    font-weight: var(--font-weight-four);
    font-size: 0.7rem;
    color: var(--color-white-stats);
    /* margin-bottom: 20px; */
}

@media (min-width:768px) {
    .container {
        width: 70rem;
        height: 25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .img-component {
        background: -webkit-gradient(linear, left top, left bottom, from(hsl(277, 64%, 61%, 0.5)), to(hsl(277, 64%, 61%, 0.5))),
            url('/images/image-header-desktop.jpg');
        background: -o-linear-gradient(hsl(277, 64%, 61%, 0.5), hsl(277, 64%, 61%, 0.5)),
            url('/images/image-header-desktop.jpg');
        background: linear-gradient(hsl(277, 64%, 61%, 0.5), hsl(277, 64%, 61%, 0.5)),
            url('/images/image-header-desktop.jpg');
        background-size: cover;
        height: 100%;
        width: 100%;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
    }

    h1 {
        padding: 2rem 3rem;
    }

    .statistic {
        margin: 2rem;
    }

    .information {
        text-align: left;
    }

    .overall-stat {
        display: inline-block;
    }

    .overall-stat p {
        font-size: 1rem;
    }

}